[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kfp = "*"
python-dotenv = "*"
scikit-learn = "*"
pandas = "*"
kubernetes = "*"

[dev-packages]
ruff = "*"
jupyter = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
