[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kfp = "*"
kfp-tekton = "~=1.5.0"
python-dotenv = "*"
scikit-learn = "*"

[dev-packages]
flake8 = "*"
flake8-import-order = "*"
flake8-docstrings = "*"
flake8-builtins = "*"
flake8-bandit = "*"
tox = "*"
pytest = "*"
tox-pipenv = "*"
jupyter = "*"
requests = "*"
pytest-mock = "*"
black = {extras = ["jupyter"], version = "*"}
pre-commit = "*"

[requires]
python_version = "3.9"
